* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font: 1;
}

body {
  background-color: #0d1117;
}

.Loading {
  margin-left: 40%;
  margin-top: 20%;
  display: inline-flex;
}
.Loadingtxt {
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  color: aquamarine;
}

.searchdiv {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
  margin-top: 5rem;
  margin-left: 5rem;
  padding-left: 3rem;
}
.subsearchdiv {
  /* border: 2px solid rgb(29, 35, 29); */
  /* background-color:blanchedalmond; */
  padding: 2rem 1rem;
  margin: 0rem 0rem;
  margin-left: 3.5rem;
  height: 20rem;
  border-radius: 2rem;
}

.searchimg {
  min-width: 8rem;
  max-width: 10rem;
  border-radius: 50%;
  border: 1px solid rgb(186, 173, 173);
}

.sname {
  font-size: 1.9rem;
  position: relative;
  top: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}

.textfield {
  width: 50%;
  margin-top: 10rem;
  height: 3em;
  border-radius: 0.3rem;
  margin-left: 20%;
  font-size: 1.3rem;
}
.btn {
  height: 4rem;
  width: 7rem;
  color: white;
  background-color: black;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: bold;
}

.Headdiv {
  display: flex;
  flex-direction: row;
}

.InHead {
  display: flex;
  flex-direction: row;
}



.Txtdiv {
  position: relative;
  left: 2rem;
}
.followersp {
  font-size: 1rem;
 
  color: white;
}
.followingsp {
  font-size: 1rem;
  
  color: white;
}

.repossp {
  font-size: 1rem;
  color: white;
}

.followerh,
.followingh,
.reposh {
  font-size: 1rem;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
padding: .5em .2em;
}

.reposh {
  left: -0.6rem;
}

.followerh {
  right: 1rem;
}

.followingh {
  right: 1rem;
}

.Imgdiv {
  border: 2px solid black;
  min-width: 15%;
  max-width: 18%;
  margin-left: 3rem;
}

.Image {
  display: block;
  width: 100%;
}

.name,
.bio,
.location,
.blog {
  font-size: 1rem;
  color: white;
  margin-top: 1rem;
  padding: 1rem 0rem;
}

.Middle {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  justify-content: space-evenly;
}
.Repository {
  width: 50%;
  padding: 2rem 2rem;
  position: relative;
  right: 1rem;
  color: aquamarine;
}

ul {
  list-style: none;
  margin-top: 2rem;
}

.InnerList {
  display: flex;
  justify-content: space-between;
}

.h2 {
  font-size: 2rem;
  font-weight: normal;
}

.Lh1,
.Lh2,
.Lp {
  font-size: 1.4rem;
}

.Following {
  position: relative;
  right: 0rem;
  color: aquamarine;
  width: 30%;
  padding: 2rem 2rem;
}

.fi {
  width: 3rem;
  border-radius: 50%;
  margin-left: 1rem;
}

.flist {
  display: flex;
  flex-direction: row;
}
.fLh {
  font-size: 1.2rem;
  margin-top: rem;
  margin-left: 0.5rem;
}




@media screen and (max-width : 400px){
/* mobiles */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.textField{
  display: flex;
}
.textfield{
  font-size: .8em;
}
.btn{
  font-size: .7em;
  height: 3.3em;
  margin-top: 10rem;
width: 6em;
}
.searchdiv{
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
flex: 1; 

}
.subsearchdiv{
  margin: auto;
  padding: auto;
width: 9.5em;
height: 14rem;
}

.searchimg{
  width: 100%;
  border-radius: 3%;
}

.sname{
  font-size: 1em;
margin: 0;
padding: auto;
}


/* Details */


.Headdiv{
  display: flex;
  flex-direction: row;
}
.Imgdiv{
  width: 6em;
  margin-left: .1rem;
border: none;
}
.Image{
  width: 100%;
}
.name , .bio ,.location ,.blog{
  margin: 0;
  padding: 0;
  font-size: .8em
}

.name{
  margin-top: .2rem;
}
.bio{
margin-top: 2rem;
}

.Txtdiv{
  margin: 0;
  padding: 0;
left: .5rem;
}

.followerdiv,.followingdiv,.reposdiv{
  margin: 0;
  padding: 0;
  margin-top: 1em;
}
.followersp,.followingsp,.repossp{
  margin: 0;
  padding: 0;
}
.followersp,.followingsp,.repossp{
  font-size: .7em;
background-color: green;
padding: .5em .5em;
border-radius: 2rem;
}

.followerh,.followingh,.reposh{
  font-size: .8rem;
}

.Middle{
  margin: auto;
  padding: auto;
display: flex;
flex-direction: column;
}
.h2{
  font-size: 1rem;
}
.Repository{
  width: 100%;
}
.Lh{
  font-size: 1rem;
}
.Lp{
  font-size: .8rem;
}
.Lh1 , .Lh2{
  font-size: .7rem;
}
.Following{
  margin: 0;
  padding: 0;
  margin-left: 2rem;
}

.flist{
  margin-top: 1rem;
}
.Loading{
margin-left: 20%;  
}

}


@media screen and (min-width :401px) and (max-width : 768px){
  /* tablets */
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .textfield{
    font-size: 1em;
  }
  .btn{
    font-size: 1em;
    height: 3em;
    margin-top: 10rem;
  width: 6em;
  }
   .searchdiv{
    display: inline-flex;
    flex-wrap: wrap;
    margin: auto;
    padding:auto;
    justify-content:center;
    align-items:center;
  }
  .subsearchdiv{
  width: 9em;
margin: 0;

}
  
  .searchimg{
    width: 100%;
  border-radius: 4%;
  }
  
  .sname{
    font-size: 1.4em;
  margin: 0;
  padding: auto;
  }
  
  
  /* Details */
  
  
  .Headdiv{
    display: flex;
    flex-direction: row;
  }
  .Imgdiv{
    width: 2em;
    margin-left: 1rem;
  border: none;
  }
  .Image{
    width: 100%;
  }
  .name , .bio ,.location ,.blog{
    margin: 0;
    padding: 0;
    font-size: 1em
  }
  
  .name{
    margin-top: .5rem;
  }
  .bio{
  margin-top: 2rem;
  }
  
  .Txtdiv{
    margin: 0;
    padding: 0;

  }
  
  .followerdiv,.followingdiv,.reposdiv{
    margin: 0;
    padding: 0;
    margin-top: 1em;
  }
  .followersp,.followingsp,.repossp{
    margin: 0;
    padding: 0;
  }
  .followersp,.followingsp,.repossp{
    font-size: .7em;
  background-color: green;
  padding: .5em .5em;
  border-radius: 2rem;
  }
  
  .followerh,.followingh,.reposh{
    font-size: .8rem;
  }
  
  .Middle{
    margin: auto;
    padding: auto;
  display: flex;
  flex-direction: row ; 
  
  }
  .h2{
    font-size: 1rem;
  }
  .Repository{
    width: 100%;
  margin-left: 3rem;
  }
  .Lh{
    font-size: 1rem;
  }
  .Lp{
    font-size: .8rem;
  }
  .Lh1 , .Lh2{
    font-size: .7rem;
  }
  .Following{
    margin: 0;
    padding: 0;
 margin-right: 2.6rem;
 margin-top: 2rem;
  }
  
  .flist{
    margin-top: 1rem;
  }
  .fi{
  width: 1.5rem;
  }
  .fLh{
    font-size: .9em;
  }
 
  .Loading{
    margin-left: 35%;  
    }
}



@media screen and (min-width :769px) and (max-width : 1024px){
  /* Dektop large screen */
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .textfield{
    font-size: 1.2em;
  }
  .btn{
    font-size: 1em;
    height: 3.6em;
    margin-top: 10rem;
  width: 6em;
  }
   .searchdiv{
    display: inline-flex;
    flex-wrap: wrap;
    margin: auto;
    padding:auto;
    justify-content:center;
    align-items:center;
  }
  .subsearchdiv{
  width: 12em;
margin: 0;

}
  
  .searchimg{
    width: 100%;
  border-radius: 4%;
  }
  
  .sname{
    font-size: 1.6em;
  margin: 0;
  padding: auto;
  }
  
  
  /* Details */
  
  
  .Headdiv{
    display: flex;
    flex-direction: row;
  }
  .Imgdiv{
    width: 4em;
    margin-left: 1rem;
  border: none;
  }
  .Image{
    width: 100%;
  }
  .name , .bio ,.location ,.blog{
    margin: 0;
    padding: 0;
    font-size: 1.3em
  }
  
  .name{
    margin-top: .5rem;
  }
  .bio{
  margin-top: 2rem;
  }
  
  .Txtdiv{
    margin: 0;
    padding: 0;

  }
  
  .followerdiv,.followingdiv,.reposdiv{
    margin: 0;
    padding: 0;
    margin-top: 1em;
  }
  .followersp,.followingsp,.repossp{
    margin: 0;
    padding: 0;
  }
  .followersp,.followingsp,.repossp{
    font-size: .9em;
  background-color: green;
  padding: .5em .5em;
  border-radius: 2rem;
  }
  
  .followerh,.followingh,.reposh{
    font-size: 1rem;
  }
  
  .Middle{
    margin: auto;
    padding: auto;
  display: flex;
  flex-direction: row ; 
  
  }
  .h2{
    font-size: 1.5rem;
  }
  .Repository{
    width: 100%;
  }
  .Lh{
    font-size: 1.4rem;
  }
  .Lp{
    font-size: 1rem;
  }
  .Lh1 , .Lh2{
    font-size: .9rem;
  }
  .Following{
    margin: 0;
    padding: 0;
 margin-right: 2rem;
 margin-top: 2rem;
  }
  
  .flist{
    margin-top: 1rem;
  }
  .fi{
  width: 1.7rem;
  }
  .fLh{
    font-size: 1.2em;
  }
  
}



@media screen and (min-width :1025px) and (max-width : 1200px){
  /* Dektop large screen */
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .textfield{
    font-size: 1.2em;
  }
  .btn{
    font-size: 1em;
    height: 3.6em;
    margin-top: 10rem;
  width: 6em;
  }
   .searchdiv{
    display: inline-flex;
    flex-wrap: wrap;
    margin: auto;
    padding:auto;
    justify-content:center;
    align-items:center;
  }
  .subsearchdiv{
  width: 12em;
margin: 0;

}
  
  .searchimg{
    width: 100%;
  border-radius: 4%;
  }
  
  .sname{
    font-size: 1.6em;
  margin: 0;
  padding: auto;
  }
  
  
  /* Details */
  
  
  .Headdiv{
    display: flex;
    flex-direction: row;
  }
  .Imgdiv{
    width: 4em;
    margin-left: 1rem;
  border: none;
  }
  .Image{
    width: 100%;
  }
  .name , .bio ,.location ,.blog{
    margin: 0;
    padding: 0;
    font-size: 1.3em
  }
  
  .name{
    margin-top: .5rem;
  }
  .bio{
  margin-top: 2rem;
  }
  
  .Txtdiv{
    margin: 0;
    padding: 0;

  }
  
  .followerdiv,.followingdiv,.reposdiv{
    margin: 0;
    padding: 0;
    margin-top: 1em;
  }
  .followersp,.followingsp,.repossp{
    margin: 0;
    padding: 0;
  }
  .followersp,.followingsp,.repossp{
    font-size: .9em;
  background-color: green;
  padding: .5em .5em;
  border-radius: 2rem;
  }
  
  .followerh,.followingh,.reposh{
    font-size: 1rem;
  }
  
  .Middle{
    margin: auto;
    padding: auto;
  display: flex;
  flex-direction: row ; 
  
  }
  .h2{
    font-size: 1.5rem;
  }
  .Repository{
    width: 100%;
  }
  .Lh{
    font-size: 1.4rem;
  }
  .Lp{
    font-size: 1rem;
  }
  .Lh1 , .Lh2{
    font-size: .9rem;
  }
  .Following{
    margin: 0;
    padding: 0;
 margin-right: 2rem;
 margin-top: 2rem;
  }
  
  .flist{
    margin-top: 1rem;
  }
  .fi{
  width: 1.7rem;
  }
  .fLh{
    font-size: 1.2em;
  }
  
}


@media screen and (min-width :1025px) and (max-width : 1280px){
  /* X large screen */
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .textfield{
    font-size: 1.2em;
  }
  .btn{
    font-size: 1em;
    height: 3.6em;
    margin-top: 10rem;
  width: 6em;
  }
   .searchdiv{
    display: inline-flex;
    flex-wrap: wrap;
    margin: auto;
    padding:auto;
    justify-content:center;
    align-items:center;
  }
  .subsearchdiv{
  width: 12em;
margin: 0;

}
  
  .searchimg{
    width: 100%;
  border-radius: 4%;
  }
  
  .sname{
    font-size: 1.6em;
  margin: 0;
  padding: auto;
  }
  
  
  /* Details */
  
  
  .Headdiv{
    display: flex;
    flex-direction: row;
  }
  .Imgdiv{
    width: 4em;
    margin-left: 1rem;
  border: none;
  }
  .Image{
    width: 100%;
  }
  .name , .bio ,.location ,.blog{
    margin: 0;
    padding: 0;
    font-size: 1.3em
  }
  
  .name{
    margin-top: .5rem;
  }
  .bio{
  margin-top: 2rem;
  }
  
  .Txtdiv{
    margin: 0;
    padding: 0;

  }
  
  .followerdiv,.followingdiv,.reposdiv{
    margin: 0;
    padding: 0;
    margin-top: 1em;
  }
  .followersp,.followingsp,.repossp{
    margin: 0;
    padding: 0;
  }
  .followersp,.followingsp,.repossp{
    font-size: .9em;
  background-color: green;
  padding: .5em .5em;
  border-radius: 2rem;
  }
  
  .followerh,.followingh,.reposh{
    font-size: 1rem;
  }
  
  .Middle{
    margin: auto;
    padding: auto;
  display: flex;
  flex-direction: row ; 
  
  }
  .h2{
    font-size: 1.5rem;
  }
  .Repository{
    width: 100%;
  }
  .Lh{
    font-size: 1.4rem;
  }
  .Lp{
    font-size: 1rem;
  }
  .Lh1 , .Lh2{
    font-size: .9rem;
  }
  .Following{
    margin: 0;
    padding: 0;
 margin-right: 2rem;
 margin-top: 2rem;
  }
  
  .flist{
    margin-top: 1rem;
  }
  .fi{
  width: 1.7rem;
  }
  .fLh{
    font-size: 1.2em;
  }
  
}


@media screen and (min-width:1280px) and  (max-width : 1366px){
  /* Dektop large screen */
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .textfield{
    font-size: 1.2em;
  }
  .btn{
    font-size: 1em;
    height: 3.6em;
    margin-top: 10rem;
  width: 6em;
  }
   .searchdiv{
    display: inline-flex;
    flex-wrap: wrap;
    margin: auto;
    padding:auto;
    justify-content:center;
    align-items:center;
  }
  .subsearchdiv{
  width: 12em;
margin: 0;

}
  
  .searchimg{
    width: 100%;
  border-radius: 4%;
  }
  
  .sname{
    font-size: 1.6em;
  margin: 0;
  padding: auto;
  }
  
  
  /* Details */
  
  
  .Headdiv{
    display: flex;
    flex-direction: row;
  }
  .Imgdiv{
    width: 4em;
    margin-left: 1rem;
  border: none;
  }
  .Image{
    width: 100%;
  }
  .name , .bio ,.location ,.blog{
    margin: 0;
    padding: 0;
    font-size: 1.3em
  }
  
  .name{
    margin-top: .5rem;
  }
  .bio{
  margin-top: 2rem;
  }
  
  .Txtdiv{
    margin: 0;
    padding: 0;

  }
  
  .followerdiv,.followingdiv,.reposdiv{
    margin: 0;
    padding: 0;
    margin-top: 1em;
  }
  .followersp,.followingsp,.repossp{
    margin: 0;
    padding: 0;
  }
  .followersp,.followingsp,.repossp{
    font-size: .9em;
  background-color: green;
  padding: .5em .5em;
  border-radius: 2rem;
  }
  
  .followerh,.followingh,.reposh{
    font-size: 1rem;
  }
  
  .Middle{
    margin: auto;
    padding: auto;
  display: flex;
  flex-direction: row ; 
  
  }
  .h2{
    font-size: 1.5rem;
  }
  .Repository{
    width: 100%;
  }
  .Lh{
    font-size: 1.4rem;
  }
  .Lp{
    font-size: 1rem;
  }
  .Lh1 , .Lh2{
    font-size: .9rem;
  }
  .Following{
    margin: 0;
    padding: 0;
 margin-right: 2rem;
 margin-top: 2rem;
  }
  
  .flist{
    margin-top: 1rem;
  }
  .fi{
  width: 1.7rem;
  }
  .fLh{
    font-size: 1.2em;
  }
  
}

@media screen and(min-width:1366px) and (max-width : 1440px){
  /* Dektop large screen */
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .textfield{
    font-size: 1.2em;
  }
  .btn{
    font-size: 1em;
    height: 3.6em;
    margin-top: 10rem;
  width: 6em;
  }
   .searchdiv{
    display: inline-flex;
    flex-wrap: wrap;
    margin: auto;
    padding:auto;
    justify-content:center;
    align-items:center;
  }
  .subsearchdiv{
  width: 12em;
margin: 0;

}
  
  .searchimg{
    width: 100%;
  border-radius: 4%;
  }
  
  .sname{
    font-size: 1.6em;
  margin: 0;
  padding: auto;
  }
  
  
  /* Details */
  
  
  .Headdiv{
    display: flex;
    flex-direction: row;
  }
  .Imgdiv{
    width: 4em;
    margin-left: 1rem;
  border: none;
  }
  .Image{
    width: 100%;
  }
  .name , .bio ,.location ,.blog{
    margin: 0;
    padding: 0;
    font-size: 1.3em
  }
  
  .name{
    margin-top: .5rem;
  }
  .bio{
  margin-top: 2rem;
  }
  
  .Txtdiv{
    margin: 0;
    padding: 0;

  }
  
  .followerdiv,.followingdiv,.reposdiv{
    margin: 0;
    padding: 0;
    margin-top: 1em;
  }
  .followersp,.followingsp,.repossp{
    margin: 0;
    padding: 0;
  }
  .followersp,.followingsp,.repossp{
    font-size: .9em;
  background-color: green;
  padding: .5em .5em;
  border-radius: 2rem;
  }
  
  .followerh,.followingh,.reposh{
    font-size: 1rem;
  }
  
  .Middle{
    margin: auto;
    padding: auto;
  display: flex;
  flex-direction: row ; 
  
  }
  .h2{
    font-size: 1.5rem;
  }
  .Repository{
    width: 100%;
  }
  .Lh{
    font-size: 1.4rem;
  }
  .Lp{
    font-size: 1rem;
  }
  .Lh1 , .Lh2{
    font-size: .9rem;
  }
  .Following{
    margin: 0;
    padding: 0;
 margin-right: 2rem;
 margin-top: 2rem;
  }
  
  .flist{
    margin-top: 1rem;
  }
  .fi{
  width: 1.7rem;
  }
  .fLh{
    font-size: 1.2em;
  }
  
}